body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #fff5fa;
    color: #444;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff92c2;
    color: white;
    padding: 20px;
    font-size: 1.2em;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
}

button {
    padding: 12px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #ff1493;
}